body {
 height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    background: rgb(9, 36, 94);
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: Dolce Vita;
    letter-spacing: 7px;
    font-size: 30px;
    font-weight: 500;
}

h2{
    margin-top: -.25px;
}

h4{
    margin-bottom: -.5px;
}

#columnNames {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25vw;
    font-family: Dolce Vita;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 400;
}


#bids {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    width: 25vw;
    height:35vh;
    border: 1px solid blue;
    padding: 3px;
    background-color: rgb(9, 96, 0);
    


}

#rate {
    color: white;
    font-size: 12px;
}

#quantities {
    color: white;
    font-size: 12px;
}

#exchange{
    color: white;
    font-size: 12px;
}


#asks {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    width: 25vw;
    height:35vh;
    border: 1px solid blue;
    padding: 3px;
}
