html{
    height: 90vh;
}

body {
 height: 97vh;
 /* width: 90vw; */

}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    background: rgb(9, 36, 94);
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: Dolce Vita;
    letter-spacing: 7px;
    font-size: 30px;
    font-weight: 700;
}

nav{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Dolce Vita;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 900;
}

#mainArea{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid blue;
    justify-content: space-between;


}

#activeOrders{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    width: 27vw;
    padding: 3px;
}

h4{
    -webkit-margin-after: 1px;
    -webkit-margin-before: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#columnNames {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 24vw;
    font-family: Dolce Vita;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
    margin-top: 5px;
}


#bids {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    width: 25vw;
    height:35vh;
    border: 1px solid black;
    padding: 3px;
    background-color: rgb(28, 64, 1);



}

#rate {
    color: white;
    font-size: 12px;
}

#quantities {
    color: white;
    font-size: 12px;
}

#exchange{
    color: white;
    font-size: 12px;
}


#asks {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    width: 25vw;
    height:35vh;
    border: 1px solid black;
    padding: 3px;
    background-color: rgb(75, 1, 1);
}

#myChart {
    border: 1px solid black;
    width: 70vw !important;
    height: 86vh !important;
}
